" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = ","

" basic stuff {{{
set clipboard=unnamed
                                " ensures that IdeaVim shares its clipboard with the system clipboard.
set number
set list                        " show whitespace
set trackactionids              " (default off) When on, IdeaVim will try to track the current IDE action and display
                                " the action name in a notification.
set scrolloff=10                " defines the number of lines to leave on the screen before scrolling.
                                " That is, if the value is set to 10, when moving the cursor down the page,
                                " once only 10 lines remain, the page will start to scroll.
set idearefactormode=keep       " Specifies the mode to be used when a refactoring selects text to be edited
set showmode
set showcmd
set visualbell                  " causes the annoying audible bell sound to stop being emitted whenever you enter an invalid input.
set ignorecase                  " use case-insensitive search by default
set smartcase                   " if any of the search characters are uppercase, treat the search as case-sensitive.
set hlsearch                    " ensures all of the search results are highlighted.
set incsearch                   " start searching as you type, rather than waiting for you to submit the complete search string first.
" }}}

" plugins {{{
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
set surround
set easymotion
set highlightedyank
set textobj-entire
set commentary
set nerdtree
set which-key
" }}}

" WhichKey settings {{{
set notimeout
" set timeoutlen = 1000

let g:WhichKeyDesc_leader = "<leader> Leader key"
let g:WhichKeyDesc_Clear_Search = "<leader><Enter> Clear the Search Buffer"
let g:WhichKeyDesc_easymotion_prefix = "<leader><leader>"
let g:WhichKeyDesc_Write = "<leader>s Save"
let g:WhichKeyDesc_fold = "<leader>z Folding"
let g:WhichKeyDesc_display = "<leader>D Display Mode"
let g:WhichKeyDesc_NREDTree = "<leader>e Project Explorer"
let g:WhichKeyDesc_Run = "<leader>r Run"
let g:WhichKeyDesc_Buffer = "<leader>b Buffer"
let g:WhichKeyDesc_Code = "<leader>c Code"
let g:WhichKeyDesc_Find = "<leader>f Find"
let g:WhichKeyDesc_relative_ln = "<leader><Tab> Toggle Relative Line Number"
" }}}

" Key Mappings {{{
" clear the search buffer when hitting return
nnoremap <CR> :noh<CR><CR>

" idea actions
map <C-S-p> :action GotoAction<CR>
map <C-p> <Action>(SearchEverywhere)

" Back/Forward
map <S-h> <Action>(Back)
map <S-l> <Action>(Forward)

" switch between tabs gt/gT
" todo go to last active tab

nnoremap <Tab> :tabnext<CR>
nnoremap <S-Tab> :tabprevious<CR>

" pane navigation
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

" close tab
:nmap <leader>bd <Action>(CloseEditor)
:nmap <leader>bD <Action>(CloseAllEditors)
:nmap <leader>bo <Action>(CloseAllEditorsButActive)

" shortcuts for globally fold and unfold the current file
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Display options
map <leader>DD <action>(ToggleDistractionFreeMode)
map <leader>DZ <action>(ToggleZenMode)
map <leader>DF <action>(ToggleFullScreen)

" NERDTree https://github.com/JetBrains/ideavim/wiki/NERDTree-support
"   Key     Desc
"   o       Open files, directories and bookmarks
"   O       Recursively open the selected directory
"   go      Open selected file, but leave cursor in the NERDTree
"   t       Open selected node/bookmark in a new tab
"   T       Same as 't', but keep the focus on the current tab
"   i       Open selected file in a split window horizontally
"   gi      Same as 'i', but leave the cursor on the NERDTree
"   s       Open selected file in a split window vertically
"   gs      Same as 's', but leave the cursor on the NERDTree
"   x       Close the current nodes parent
"   X       Recursively close all children of the current node
"   p       Jump to current nodes parent
"   P       Jump to the root node
"   K       Jump up inside directories at the current tree depth
"   J       Jump down inside directories at the current tree depth
"   <C-k>   Jump down to next sibling of the current directory
"   <C-j>   Jump up to next sibling of the current directory
"   r       Recursively refresh the current directory
"   R       Recursively refresh the current root
"   n       Create File
"   N       Create Directory
"   m       Display Right-Click Menu
"   A       Zoom(maximize/minimize) the NERDTree window
"   q       Close the NERDTree window
nnoremap <leader>e :NERDTreeFocus<cr>
nmap <leader>o <Action>(SelectInProjectView)

" Find
nmap <leader>f <Action>(SearchEverywhere)

" code actions
nmap <leader>s :write<CR>
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

" methods navigation
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Code Actions
:map <leader>cr <Action>(RenameElement)
:map <leader>ce <Action>(ExtractMethod)
:map <leader>cS <Action>(ChangeSignature)
:map <leader>cq <Action>(Refactorings.QuickListPopupAction)
:map <leader>ci <Action>(OptimizeImports)
:map <leader>cf <Action>(ReformatCode)
:map <leader>cs <Action>(SurroundWith)

" run & debug & breakpoints
:map <leader>rr <Action>(RunClass)
:map <leader>rd <Action>(DebugClass)
:map <leader>rc <Action>(Stop)
:map <leader>r1 <Action>(ChooseRunConfiguration)
:map <leader>r2 <Action>(ChooseDebugConfiguration)
:map <leader>rt <Action>(ToggleLineBreakpoint)
:map <leader>rs <Action>(ViewBreakpoints)
:map <leader>rr <Action>(Debugger.RemoveAllBreakpoints)

" toggle line number relative
function! NumberToggle()
  if(&relativenumber == 1)
    set norelativenumber
  else
    set relativenumber number
  endif
endfunction
nnoremap <leader><Tab> :call NumberToggle()<CR>

" .ideavimrc
map <leader>0 :so ~/.ideavimrc<CR>
map <leader>. :e ~/.ideavimrc<CR>

" }}}

" Shortcut Conflicts for Active Keymap {{{
sethandler <C-t> a:vim
" }}}